<div>
  <div class="page-header">
  <h1>项目列表{{#if adminuser}}<small><a href="/addProject">添加项目</a></small>{{/if}}</h1>
</div>
  <table class="table table-bordered">
    <tr>
      <th >项目名称</th>
      <th >状态</th>
      <th >地区</th>
      <th >研发</th>
      <th >前线</th>
      <th >产品</th>
      <th></th>
    </tr>
    {{#each projects}}
    <tr>
      <td ><a href="/projectDetail?id={{_id}}">{{name}}</a></td>
      <td >{{status}}</td>
      <td >{{area}}</td>
      <td >{{maintainer}}</td>
      <td >{{frontling}}</td>
      <td >{{product}}</td>
      <td><button type="button" class="btn btn-link"><a href="/delProject?id={{_id}}">删除</a></button></td>
    </tr>
    {{/each}}
  </table>
</div>