<div class="page-header">
    <h1>{{project.name}} <small><a href="/project" type="button" class="btn btn-primary btn-lg">查看所有项目</a><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  更新项目
</button></small></h1>
</div>
<div class="row">
    <div class="col-md-6">
    <div class="alert alert-success" role="alert">
        <p>区域： {{project.area}}</p>
    </div>
    <div class="alert alert-info" role="alert">
        <p>研发负责人： {{project.leader}} 组的 {{project.maintainer}}</p>
    </div>
    <div class="alert alert-warning" role="alert">
        <p>产品经理： {{project.product}}</p>
    </div>
    <div class="alert alert-danger" role="alert">
        <p>业务前线： {{project.frontling}}</p>
    </div>
    </div>
    <div class="col-md-6">
         <div id="main" style="width: 80%;height:400px;"></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form action="/modProject" method="post">
    <div>
        <input type="hidden" value={{project.id}} name="id" />
    </div>
    <div class="row">
        <div class="col-sm-5">
    <div class="form-group">
        <label for="status">状态</label>
        <select class="form-control" name="status" value="{{project.status}}">
            <option value="正常">正常</option>
            <option value="异常">异常</option>
            <option value="预警">预警</option>
        </select>
    </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
    <div class="form-group">
        <label for="period">项目阶段</label>
        <select class="form-control" name="period" value="{{project.period}}">
            <option value="标案评估">标案评估</option>
            <option value="软件定制">软件定制</option>
            <option value="客户验证">客户验证</option>
            <option value="正式提测">正式提测</option>
            <option value="软件发布">软件发布</option>
            <option value="软件维护">软件维护</option>
            <option value="项目中止">项目中止</option>
        </select>
    </div>
    </div>
    </div>

<div class="form-group">
    <label for="plan">当前计划：</label>

    <textarea name="plan" class="form-control" rows="3" placeholder="{{project.plan.text}}"></textarea>
</div>
<div class="form-group">
    <label for="description">备注：</label>
    <textarea name="description" class="form-control" rows="3" placeholder="{{project.description}}"></textarea>
</div>
    <button type="submit" class="btn btn-default">更新</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>

{{!-- <div class="form-group">
    <div class="list-group">
        <label>已经完成的计划：</label> {{#each project.finished}}
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{time}}</h4>
            <p class="list-group-item-text">{{text}}</p>
        </a>
        {{/each}}
    </div>
</div> --}}
<div class="row">
    <div class="page-header">
  <h2>当前计划</h2>
</div>
  <div class="well">
    <div class="panel panel-default">
        <div class="panel-body">
            {{project.plan.text}}
        </div>
    </div>
</div>

</div>
 <div class="row">
{{!-- <div class="page-header">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFinished" aria-expanded="false" aria-controls="collapseFinished">
  点击展开
</button>
</div>
<div class="collapse" id="collapseFinished">
  <div class="well">
    {{#each project.finished}}
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{time}}</h4>
            <p class="list-group-item-text">{{text}}</p>
        </a>
        {{/each}}
  </div>
</div> --}}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finished">Finished Work</button>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="finished">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    {{#each project.finished}}
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{time}}</h4>
            <p class="list-group-item-text">{{text}}</p>
        </a>
        {{/each}}
    </div>
  </div>
</div>
</div> 

<script src="../javascripts/echarts.min.js"></script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:['已经完成','计划完成',]
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'center',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : ['50%', '70%'],
            itemStyle : {
                normal : {
                    label : {
                        show : false
                    },
                    labelLine : {
                        show : false
                    }
                },
                emphasis : {
                    label : {
                        show : true,
                        position : 'center',
                        textStyle : {
                            fontSize : '30',
                            fontWeight : 'bold'
                        }
                    }
                }
            },
            data:[
                {value:335, name:'已经完成'},
                {value:310, name:'计划完成'}
            ]
        }
    ]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>