
<div class="page-header">
    <h1>我的周报 <small><a href="/addWeekly">添加周报</a></small></h1>
</div>
<div class="row">
    {{#each weeklys}}
  <div class="col-sm-4 col-md-4 col-xs-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>用户： {{name}} 周次：{{week}} 更新时间： {{updated}}</h3>
        <p>主要工作：{{done}}</p>
        <p>下周计划： {{plan}}</p>
        <p><a href="/delWeekly?id={{_id}}" class="btn btn-primary" role="button">Delete</a> </p>
      </div>
    </div>
  </div>
    {{/each}}
</div>