
<div class="page-header">
    <h1>我的周报 <small>查看待办事项</small></h1>
</div>
<div>
    {{#each weeklys}}

<div class="panel panel-default">
  <div class="panel-heading">{{name}}</div>
  <div class="panel-body">
      <div class="list-group">
  <a href="/projectDetail?id={{_id}}" class="list-group-item active">
    <h4 class="list-group-item-heading">主要工作：{{done}}</h4>
    <p class="list-group-item-text">下周计划：{{plan}}</p>
  </a>
</div>
    <p>第 {{week}} 周</p>
    <a href="/delWeekly?id={{_id}}"><button type="button" class="btn btn-danger">删除</button></a>
  </div>
</div>
    {{/each}}
</div>